html {
  background: url(img/depositphotos_53839577-stock-illustration-vector-pattern-with-hand-drawn.webp);
  margin: 0;
  padding: 0;
}

#navbar {
  transition: 0.5s ease-in-out;
}

nav {
  background: rgba(203, 166, 98, 0.904);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav ul li {
  display: inline;
  margin: 0;
  margin-left: 18px;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #757474;
  text-transform: uppercase;
  font-family: sans-serif;
}

nav ul li a:hover {
  color: #ffffff;
  border-bottom: 1.5px solid #c4c465;
  transition: 1s;
}

.ul2-holder {
  margin-right: 20px;
}

.ul2 a {
  font-size: 20px;
  color: #5f5c5c;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  text-align: center;
}

.ul2 a:hover {
  color: #ffffff;
  border-bottom: 1.5px solid #c4c465;
  transition: 1s;
}  

.nav-img {
  max-width: 75px;
}

.logo {
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-size: xx-large;
}

.firstcontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 300px;
  flex-wrap: wrap;
}

.top {
  border: 5px solid #c4c465;
  border-radius: 100px;
}


.firsttext {
  color: #343232;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 60px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px 30px;
  font-size: 20px;
  background: #cd8440e0;
  border: 3px solid rgba(203, 166, 98, 0.904);
  border-radius: 5px;
  text-decoration: none;
  color: #343232;
  transition: 0.50s;
}

.button:hover {
  background: rgba(133, 105, 55, 0.904);
  transition: 0.50s;
  color: #000;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px 0px;
  flex-wrap: wrap;
}

.img-size {
  border: 5px solid #c4c465;
  border-radius: 50px;
  width: 550px;
}

.texts {
  width: 450px;
  height: 450px;
  background-color: rgba(240, 223, 201, 0.726);
  border: 3px solid rgba(133, 110, 69, 0.904);
  border-radius: 15px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  border: 3px solid rgba(203, 166, 98, 0.904);
  border-radius: 5px;
  font-size: 20px;
}

#products {
  background: rgba(203, 166, 98, 0.55);
  padding: 30px 0px;
}

#products .tittle {
  background: #b9b2a58f;
  border: 3px solid rgb(211, 179, 118) ;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

#products .cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#products .card {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#products .card img {
  width: 290px;
  height: 230px;
  border: 3px solid rgba(248, 197, 102, 0.904);
  border-radius: 50px;
}

footer {
  background: rgba(203, 166, 98, 0.904);
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .midias {
  display: flex;
  justify-content: space-evenly;
  width: 230px;
} 

footer .midias a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

footer .midias a:hover {
transform: translateY(-15px);
}

footer .midias img {
width: 50px;
}

@media (max-width: 1024px) {
  #home .top {
    width: 500px;
  }

  #home .firsttext {
    font-size: 50px;
  }

  #about .img-size {
    width: 500px;
  }
}