html {
  background: url(img/depositphotos_53839577-stock-illustration-vector-pattern-with-hand-drawn.webp);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

#navbar {
  transition: 0.5s ease-in-out;
}

nav {
  background: rgba(203, 166, 98, 0.904);
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav ul li {
  display: inline;
  font-size: 13px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #757474;
  text-transform: uppercase;
  font-family: sans-serif;
}

nav ul li a:hover {
  color: #ffffff;
  border-bottom: 1.5px solid #c4c465;
  transition: 1s;
}

.ul2 a {
  font-size: 12px;
  color: #5f5c5c;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  text-align: center;
}

.ul2 a:hover {
  color: #ffffff;
  border-bottom: 1.5px solid #c4c465;
  transition: 1s;
}

.ul2-holder {
  display: inline;
  margin-left: 65%;
}  

.nav-img {
  max-width: 75px;
}

.logo {
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-size: xx-large;
}

.firstcontent {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 30%;
  margin: 0;
  height: 300px;
}

.firsttext {
  z-index: 2;
  color: #343232;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: lighter;
  max-width: fit-content;
  background-color: #c4c4658a;
  margin-bottom: 20%;
  border-radius: 20px;
}

.top {
  border: 5px solid #c4c465;
  border-radius: 100px;
}

.butt {
  width: 170px;
  height: 60px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  background: none;
  border: 3px solid #a5a54d ;
  border-radius: 80px;
  color: #343232;
  transition: all 0.50s ease-in-out;
}

.butt:hover {
  background: rgba(203, 166, 98, 0.904);
  color: #000;
}

.button {
  color: #343232;
  text-decoration: none;
}

#about {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  justify-content: space-evenly;
}

.img-size {
  border: 5px solid #c4c465;
  border-radius: 50px;
  width: 50%;
  margin: 0;
 
}

.texts {
  height: 380px;
  max-width: 350px;
  background-color: rgba(240, 223, 201, 0.726);
  border: 3px solid rgba(133, 110, 69, 0.904);
  border-radius: 15px;
}

.text {
  border: 3px solid rgba(203, 166, 98, 0.904);
  border-radius: 5px;
  margin: 10px;
}

#products {
  background: rgba(203, 166, 98, 0.55);
  margin-top: 5rem;
  margin-right: 0;
}

#products .tittle {
  background: #b9b2a58f;
  border: 3px solid rgb(211, 179, 118) ;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin: auto;
}

#products .cards {
  display: flex;
  justify-content: space-evenly;
}

#products .card {
  padding-inline: 3rem;
}

#products .card img {
  margin-top: 1rem;
  width: 300px;
  border: 3px solid rgba(248, 197, 102, 0.904);
  border-radius: 50px;
  height: 10rem;
}

footer {
  background: rgba(203, 166, 98, 0.904);
  margin: 0;
}

footer .midias {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-left: 45%;
} 

footer .midias a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

footer .midias a:hover {
transform: translateY(-15px);
}

footer .midias img {
width: 40px;
}

/*===================RESET===========*/

@media (max-width:1024px){
  .ul2-holder {
    display: inline;
    margin-left: 35rem;
  } 

  .top {
    border: 5px solid #c4c465;
    border-radius: 100px;
    height: 30rem;
    width: 400px;
    height: 400px;
  }

  .firstcontent {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 30%;
    margin: 0;
    height: 300px;
  }

  #products {
    background: rgba(203, 166, 98, 0.55);
    margin-top: 4rem;
    width: max-content;
    width: 100%;
  }

  #products .card {
    padding-inline: 2rem;
    }

  #products .card img {
    margin-top: 1rem;
    border: 3px solid rgba(248, 197, 102, 0.904);
    border-radius: 45px;
    height: 140px;
    width: 15rem;
    max-width: min-content;
  }


  
}

@media (max-width:768px) {
  nav {
    background: rgba(203, 166, 98, 0.904);
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }

  nav ul li a {
    text-decoration: none;
    color: #757474;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  nav ul li a:hover {
    color: #ffffff;
    border-bottom: 1.5px solid #c4c465;
    transition: 1s;
  }
  
  .ul2 a {
    font-size: 10px;
    color: #5f5c5c;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .ul2 a:hover {
    color: #ffffff;
    border-bottom: 1.5px solid #c4c465;
    transition: 1s;
  }
  
  .ul2-holder {
    display: inline;
    margin-left: 65%;
  }  

  .firstcontent {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 30%;
    margin: 0;
    height: 300px;
  }

  .top {
    border: 5px solid #c4c465;
    border-radius: 100px;
  }

  .ul2-holder {
    display: inline;
    margin-left: 50%;
  } 

  .top {
    max-width: 600px;
  }

  #products {
    background: rgba(203, 166, 98, 0.55);
    margin-top: 5rem;
  }

  #products .card {
    padding-inline: 2rem;
    }

  #products .card img {
    margin-top: 1rem;
    width: 200px;
    border: 3px solid rgba(248, 197, 102, 0.904);
    border-radius: 50px;
    height: 10rem;
  }

  footer .midias {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 75%;
  }
  
  @media (max-width:425px) {
    nav {
      background: rgba(203, 166, 98, 0.904);
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
    }
  
    nav ul li a {
      text-decoration: none;
      color: #757474;
      text-transform: uppercase;
      font-family: sans-serif;
    }
    
    nav ul li a:hover {
      color: #ffffff;
      border-bottom: 1.5px solid #c4c465;
      transition: 1s;
    }
    
    .ul2 a {
      font-size: 10px;
      color: #5f5c5c;
      margin: 0;
      padding: 0;
      margin-left: 10px;
      text-align: center;
    }
    
    .ul2 a:hover {
      color: #ffffff;
      border-bottom: 1.5px solid #c4c465;
      transition: 1s;
    }
    
    .ul2-holder {
      display: inline;
      margin-left: 65%;
    }  
  
    .firstcontent {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      padding-top: 30%;
      margin: 0;
      height: 300px;
    }
  
    .top {
      border: 5px solid #c4c465;
      border-radius: 100px;
    }
  
    .ul2-holder {
      display: inline;
      margin-left: 50%;
    } 
  
    .top {
      max-width: 600px;
    }
  
    #products {
      background: rgba(203, 166, 98, 0.55);
      margin-top: 5rem;
    }
  
    #products .card {
      padding-inline: 2rem;
      }
  
    #products .card img {
      margin-top: 1rem;
      width: 200px;
      border: 3px solid rgba(248, 197, 102, 0.904);
      border-radius: 50px;
      height: 10rem;
    }
  
    footer .midias {
      width: 100px;
      display: flex;
      justify-content: space-between;
      margin-left: 75%;
    }
  }
}